/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    outline: none;
}

/* Global Styles */

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: black;
    color: white;
}

header,
.form-container,
.results{
    background-color: rgba(255,255,255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.29);
}


/* Header */

header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header button {
    padding: 8px 12px;
    font-size: 17px;
    display: flex;
    gap: 5px;
    background-color: #7e99a3;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

header button:hover {
    background-color: #7e99a3bb;
}

/* Form */

.form-container {
    margin: 60px auto;
    padding: 30px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container h1 {
    font-size: 33px;
}

.form-container form {
    display: flex;
    width: 100%;
}

.form-container input {
    flex: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
}

.form-container form button {
    padding: 5px 25px;
    background-color: #1a92d6;
    border: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.form-container form button:hover {
    background-color: #1a91d6bb;
}

.results {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    display: none;
}

.results.show {
    display: block;
}

.results .result-card {
    display: flex;
    gap: 20px;
}

.results .result-card .result-card-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.results .result-card .result-card-left img {
    width: 150px;
    border-radius: 10px;
}

.results .result-card .result-card-left a{
    padding: 8px;
    width: 100%;
    background-color: #1a92d6;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.results .result-card .result-card-left a:hover {
    background-color: #1a91d6c3;
}

.results .result-card .result-card-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.results .result-card .result-card-right .info {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.results .result-card .result-card-right .info div {
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.results .result-card .result-card-right .info div:nth-child(1) {
    background-color: #0f0f0f;
}

.results .result-card .result-card-right .info div:nth-child(2) {
    background-color: #b5b41b;
}

.results .result-card .result-card-right .info div:nth-child(3) {
    background-color: #158170;
}

.results .result-card .result-card-right .info div:hover {
    transform: scale(0.85);
}

.results .result-card .result-card-right .about {
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}

.results .result-card .result-card-right .about .about-item {
    padding: 10px;
    border-bottom: 1px solid gray;
    height: fit-content;
    /* Fit-content => eleman yüksekliğini content'e göre otomatik ayarlar */
}

.results .result-card .result-card-right .about .about-item span {
    padding-left: 5px;

}

.results .result-card .result-card-right .about .about-item:last-child {
    border: none;
}


@media (max-width: 800px) {
    .form-container {
        margin: 30px 10px;
    }
}